.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  
  .container .box {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
  }
  
  .container .box:hover {
    transform: scale(1.05);
  }
  
  .container .box:hover img {
    opacity: 1;
  }
  
  .container .box .content {
    background: var(--color-bg-variant);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 1;
    color: #fff;
  }
  
  .text-content {
    padding: 20px;
  }
  
  .portfolio_container img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 0.8;
  }
  
  .heading-content {
    margin-bottom: 15px;
  }
  
  .portfolio_container .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .live {
    margin-left: 10px;
  }
  
  .all-project-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .project-name {
    height: 150px;
    overflow-y: scroll;
    cursor: pointer;
  }
  
  .project-details-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 0rem 4rem;
  }
  
  .project-details-header .links a {
    margin-right: 10px;
  }
  
  .project-detail-content p {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .image-div {
    height: 340px;
    overflow-y: scroll;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .image-slide {
    margin-bottom: 20px;
  }
  
  .image-slide img {
    object-position: top;
    border-radius: 8px;
  }
  
  .carousel .thumbs-wrapper {
    display: none;
  }
  
  .carousel .carousel-status {
    display: none;
  }
  
  /* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/
  
  @media screen and (max-width: 1024px) {
    .portfolio_container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }
  
    .all-project-button {
      margin-bottom: 80px;
    }
  
    #portfolio-details {
      margin-bottom: 5rem;
    }
  
    .project-details-header {
      grid-template-columns: repeat(1, 1fr);
      margin: 0rem 2rem;
    }
    .project-detail-image {
      height: 350px;
    }
    .project-details-header .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .project-details-header .links a {
      font-size: medium;
      margin-top: 15px;
    }
    .project-detail-content p {
      margin-bottom: 20px;
    }
    .list-style {
      list-style-position: outside;
    }
    .image-div {
      height: 350px;
    }
    .image-slide {
      padding: 2rem;
    }
  }
  
  /* =============== MEDIA QUERIES (SMALL DEVICES) ============== .*/
  
  @media screen and (max-width: 600px) {
    .portfolio_container {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }
    .all-project-button {
      margin-bottom: 80px;
    }
    .project-name {
      height: 165px;
    }
    .project-details-header {
      grid-template-columns: repeat(1, 1fr);
      margin: 0rem 1rem;
    }
    .project-detail-image {
      height: 170px;
    }
    .project-details-header .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .project-details-header .links a {
      font-size: small;
      margin-top: 15px;
    }
    .project-detail-content p {
      text-align: center;
      margin-bottom: 20px;
    }
    #portfolio-details {
      margin-bottom: 5rem;
    }
    .list-style {
      list-style-position: outside;
    }
    .image-slide {
      padding: 1rem;
    }
    .image-div {
      height: 170px;
    }
  }
  